body{
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    background-color: white;
    width: 80%;
    /* height: 1000px; */
    display: flex;
    border: 1px solid rgb(222, 219, 219);
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(164, 163, 163, 0.5);
    flex-direction: column;

}

.start_part{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100px;
    border: 1px solid rgb(222, 219, 219);
    position: relative;
}

.start_logo{
    width: auto;
    height: 60%;
    margin-left: 20px;

}

.start_intro{
    color: rgb(193, 193, 193);
    margin-left: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.start_contact{
    color: rgb(204, 26, 33);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.middle_part{
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 252, 252);
    padding-top: 30px;
    border: 1px solid rgb(222, 219, 219);
    padding-bottom: 40px;
}

.middle_left_part{
    flex: 4;
    padding: 16px 30px;
    padding-left: 50px;
}

.middle_right_part{
    flex: 5;
    position: relative;
}

.middle_right_img{
    display: flex;
    justify-content: center;
}

.image_frame{
    border: 8px solid rgb(244, 244, 244);
    box-shadow: 0 1px 1px rgba(78, 77, 77, 0.5);
}

.middle_right_part img{
    width: 90%;
    height: auto;
    height: 100%;
    text-align: center;

}

.title h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;

}

.description p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    color: rgb(174, 174, 174);
}

.circle-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(70, 68, 68);
    font-size: 20px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0 0 5px rgba(78, 77, 77, 0.5);
}

.circle-button i {
    font-weight: bold;
    font-size:7px;
}


.middle_right_part .right-arrow{
    position: absolute;
    right: 3%;
    top: 48%;
}

.middle_right_part .left-arrow{
    position: absolute;
    left: 3%;
    top: 48%;
}

.purchase, .tour {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.purchase, .tour {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    background: linear-gradient(to bottom, #f7bf46, #ff6f00);
    color: rgba(46, 46, 46, 0.5);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    
}

.tour{
    background: linear-gradient(to bottom, #f9f7f7, #cdcccc);
    margin-left: 30px;
}
.purchase{
    margin-right: 30px;
}


.button_group{
    display: flex; 
    
}

.middle_part_2{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(222, 219, 219);
    padding: 30px 10px;
}

.middle_part_2_container{
    display: flex;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle_part_2_container span{
    color: rgb(174, 174, 174);
}

.middle_part_2_container h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle_part_2 img {
    width: auto;
    height: 60px;
    margin-top: 10px;

    
}

.middle_part_2_container_description{
    margin-left: 20px;
}

.middle_part_3{
    display: flex;
    border: 1px solid rgb(223, 223, 223);
}

.middle_part_3_left{
    flex: 4;
    padding: 40px;
}
.middle_part_3_right{
    flex: 3;
    padding: 40px;
    margin-top: 50px;

}

.middle_part_3_left h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.middle_part_3_left p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(174, 174, 174);
}

.middle_part_3_right a{
    text-decoration: none;
    color: rgb(218, 151, 26);
}

.middle_part_3_right i{
    background-color: none;
}

.circle-button1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: rgb(225, 225, 225); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(70, 68, 68);
    font-size: 8px;
    border: 2px solid rgb(28, 27, 27);
    margin-right: 12px;
    
}

.circle-button1 i {
    font-weight: bold;
    font-size: 9px;
}

.link{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(236, 235, 235);
    margin-bottom: 20px;
    align-items: center;
}

.screenshot{
    padding-left: 40px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    border: 1px solid rgb(223, 223, 223);

}

.part_title{
    font-size: 20px;
    margin-bottom: 30px;
}

.screenshot_image{
    display: flex;
    flex-direction: row;
    
}

.screenshot_image img{
    width: 20%;
    margin-right: 3%;
}

.end_part{
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    border: 1px solid rgb(223, 223, 223);
}


.word_wrap{
    padding: 20px 20px;
    border: 1px solid rgb(223, 223, 223);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(78, 77, 77, 0.5);
    margin-bottom: 20px;
}

.word_wrap h4{
    width: 95%;
    font-size: 22px;
    padding: 0px 20px;
    font-style: italic;
    color: rgb(174, 174, 174);
}

.word_author_1{
    margin-left: 50px;
}
.word_author_2{
    font-style: italic;
    color: rgb(174, 174, 174);
}

.triangle{
    border-right: 50px solid rgb(223, 223, 223);
    border-bottom: 50px solid transparent;
    /* border:  1px solid rgb(223, 223, 223); */
}

.triangle_content{
    color: white;
}


.center{
    display: flex;
    justify-content: center;
}

.add_margin_top{
    margin-top: 30px;
}



.footer{
    font-family: Arial, Helvetica, sans-serif;
}

.footer_info{
    background-color: rgb(65, 65, 65);
    display: flex;
    border: 1px solid rgba(223, 223, 223, 0.2);
    box-shadow: 0 0 1px rgba(78, 77, 77, 0.5);

}
.payment{
    flex: 5;
    padding: 30px 25px;
    
}
.payment img{
    height: 20px;
}

.footer_title{
    color: rgb(225, 222, 222);
    margin-bottom: 16px;
}

.footer_description{
    color: rgb(174, 174, 174);
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: bold;
}

.payment_title{

}
.payment_description{
    
}
.payment_logo img{
    margin-right: 10px;
}
.get_in_touch{
    flex: 3;
    padding: 30px 25px;

}
.design_details{
    padding: 30px 25px;
    flex: 3;
}

.logo_signature{
    flex:3;
    position: relative;
}

.logo_signature img{
    height: 60px; 
    position: absolute;
    right: 10%;
    top: 20px;
}

.copyright{
    background-color: rgb(47, 46, 46);
    padding: 5px 0px 5px 30px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.copyright_1{
    color: rgb(174, 174, 174);
}

.copyright_2{
    
    font-style: italic;
    color: orange;
}

.copyright_icon img{
    height: 50px;
    margin-right: 20px;
}